body {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    padding: 0 5px;
    margin-top: 20px;
    min-width: 70%;
    background: linear-gradient(90deg, rgb(238, 238, 238), rgb(224, 224, 224)); 
    height: 40px;
    display: flex;
    justify-content: space-between;
    
}
nav {
    min-width: 40%;
    display: flex;
}
a {
    margin-left: 4px;
    width: 25%;
    min-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    color: rgb(0 0 0 / .35);
    font-weight: 700;
    text-decoration: none;
    flex-flow: row nowrap;
}
